*.jsbundle
.DS_Store
.history
.jest
.vscode
Pods
node_modules/
npm-debug.log
yarn-error.log
.env
.env.production
.env.production.local
.env.development
.env.development.local
.env.dev
*.log
.idea
sentry.properties
.gradle
Docs
my-upload-key.keystore